.msg, .errorMsg, .warningMsg {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  color: white; }

.errorMsg {
  background: red; }

.warningMsg {
  background: orange; }

.label {
  font-size: 22px;
  border-radius: 7; }

.grid {
  font-size: 22px;
  border-radius: 4;
  float: left;
  width: 85px; }
