- # encoding: utf-8
!!!
%html{:lang=> "ja"}
	%head
		%meta(charset="UTF-8")
		%body
			%div{:id => "main", :class => "myClass"}
			%div(id="main" class="myclass")
			%div#main.myclass
			#main2.myclass