.myBorder {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
h1 {
  color: #880000;
  font-size: 24px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
h2 {
  color: #bb3333;
  font-size: 17px;
  background-image: url("http://dotinstall.com/lessons/basic_less/2605");
}
