// @extend(継承)
// 
// 
.msg{
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px;
	color: white;
}
.errorMsg{
	@extend .msg;
	background: red;
}

.warningMsg{
	@extend .msg;
	background: orange;
}

@import "settings";
@import "functions";

@mixin round($radius:4){
	font-size: 22px;
	border-radius: $radius;
}

.label{
	@include round(7);
}
.grid{
	@include round();
	float: left;
	width: getColumnWidth($totalWidth, $columnCount);
}
