// @for @while文をつかってみよう
// .fs10{font-size: 10px}
// 

$debugMode: true;
$x: 10;


#main{
	@if	$debugMode == true {
		color: red;
	} @else{
		color:green;
	}
	p{
		@if $x >20 {
			color: yellow;
		}
	}
}

@for $i from 10 through 14{
	.fs#{$i} {font-size: #{$i}px;}	
}

$i: 20;
@while $i <= 24{
	.fs#{$i} {font-size: #{$i}px;}
	$i: $i + 1;	
}